<div class="container">
		<h2>Oh! You want to unsubscribe?</h2>
		<p>We hate goodbyes, But if you change yor mind, we'll always be here with something fun to share.</p>
		<button (click)="unsubscribeFromPanel()" class="btn mr-2" id="unsubscribe">Unsubscribe</button>
		<button (click)="cancel()" class="btn btn-light" id="cancel">Cancel</button>

		   	<br>
		   	<br>

	   <div class="emoji shocked">
	      <figure class="face">
	        <span class="eyes">
	          <span class="eye"></span>
	          <span class="eye"></span>
	        </span>
	        <span class="mouth">
	        </span>
	      </figure>
	    </div>

	</div>