<!-- <h1 mat-dialog-title>{{ data.title || 'Confirm' }}</h1> -->
 <form #testEmailForm="ngForm">
     <div mat-dialog-content>
       <p>{{ data.message }}</p>
       <div class="position-relative form-group">
         <input name="email" id="exampleEmail" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" [(ngModel)]="testEmail" placeholder="Enter your email" required
          type="email" class="form-control" #emailModel="ngModel">
          <div *ngIf="emailModel.touched && emailModel.invalid">
             <small class="text-danger" *ngIf="emailModel.errors?.['required']">Email is required.</small>
             <small class="text-danger" *ngIf="emailModel.errors?.['pattern']">Email is invalid.</small>
         </div>
     </div>
     </div>
     <div mat-dialog-actions style="display: flex;justify-content: space-around;">
       <button class="btn btn-secondary btn-sm"  (click)="onCancel()">Cancel</button>
       <button class="btn btn-primary btn-sm" [disabled]="testEmailForm.invalid" (click)="onConfirm()">Confirm</button>
     </div>
 </form>