<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-copy-file icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Invite Panel
                    <div class="page-title-subheading">In this page we can manage projects, edits and delete.
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <div class="page-title-right">
                    <!-- <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="projects.html">Projects</a></li>
                        <li class="breadcrumb-item active"><a href="createpanels.html">Create Panel</a></li>
                    </ol> -->
                    <div class="btn-actions-pane-right">                                                                               
                        <a (click)="goToProject()" type="button" class="btn mr-2 mb-2 btn-primary">Back to Sub Panel</a>
                    </div>
                </div>
               
            </div>    
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card card mb-3" id="createpanelmain">
                <div class="card-header">Panel Invitation  
                                                         
                </div>
                <div class="card-body" *ngIf="projectDetails">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <div class="projectname d-flex justify-content-between align-items-center">
                            <div class="widget-content-left mr-3">
                                <div class="widget-content-left">
                                    <div class="swatch-holder swatch-holder-lg bg-info" id="TooltipC-3" data-toggle="tooltip" title="" data-original-title="In-Progress"></div>
                                </div>
                            </div>
                            <div >
                              <h3 class="mt-0 font-weight-bold">{{projectDetails.name}}</h3>
                              <p class="mb-2">{{projectDetails.unique_id}}  
                                <span *ngIf="projectDetails.client">{{projectDetails.client}}-</span> 
                                <span *ngIf="projectDetails.alternate_project_code"> {{projectDetails.alternate_project_code}}-</span>
                                <span *ngIf="projectDetails.client_project_code">{{projectDetails.client_project_code}}</span></p>
                            <div class="projectdetails d-flex align-items-center">
                                <div class="lifecyle mr-3">
                                    <div class="d-flex align-items-center">
                                        <i class="pe-7s-refresh-2 mr-2 text-dark"></i>
                                        <h3 class="mb-0  text-dark">{{projectDetails.status}}</h3>
                                    </div>
                                </div>
                                <div class="manager">
                                    <div class="d-flex align-items-center">
                                        <i class="pe-7s-user mr-2 text-dark"></i>
                                        <h3 class="mb-0 text-dark">{{projectDetails.lead_project_manager}}</h3>
                                    </div>
                                </div>
                            </div>  
                            </div>
                            
                            
                        </div>
                        <!-- <div class="status">
                            <div class="badge badge-info">Invited: <span>102</span></div>
                        </div> -->
                    </div>
                </div>

            </div>
          
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-title" *ngIf="subpanel">
                            {{subpanel.name | titlecase}} - Invite
                        </div>
                        <div class="main-card mb-3 card">
                            <div class="card-header pt-2 pb-2" style="height: inherit;">Selections | This table shows the selection criteria used for your invitation.         
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                        <thead>
                                        <tr>                                               
                                            <th>Question</th>
                                            <th class="text-left">Choice</th>
                                            <!-- <th class="text-left">Type</th>
                                            <th class="text-left">Value (If Applicable)</th> -->
                                        </tr>
                                        </thead>
                                        <tbody >
                                        <tr *ngIf="subpanel">                                               
                                            <td>
                                                Panel
                                            </td>
                                            <td class="text-left">{{subpanel.panel_name}}</td>
                                            <!-- <td class="text-left">
                                                
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr>  
                                        <tr *ngIf="panelInput">                                               
                                            <td>
                                                Country
                                            </td>
                                            <td class="text-left">{{panelInput.workCountryname}}</td>
                                            <!-- <td class="text-left">
                                                
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr> 
                                        <tr *ngIf="panelInput && panelInput.email">                                               
                                            <td>
                                                What is your email
                                            </td>
                                            <td class="text-left">{{panelInput.email}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr> 
                                        <tr *ngIf="panelInput && panelInput.firstname">                                               
                                            <td>
                                                What is your first name
                                            </td>
                                            <td class="text-left">{{panelInput.firstname}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr>
                                        <tr *ngIf="panelInput && panelInput.lastname">                                               
                                            <td>
                                                What is your last name
                                            </td>
                                            <td class="text-left">{{panelInput.lastname}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr>
                                        <tr *ngIf="panelInput && panelInput.profession">                                               
                                            <td>
                                                Please choose the profession the best describes you
                                            </td>
                                            <td class="text-left">{{panelInput.professionName}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr>    
                                        <tr *ngIf="panelInput && panelInput.degree?.length>0">                                               
                                            <td>
                                                Please indicate your degrees by selecting all that apply.<br>
                                            </td>
                                            <td class="text-left">{{panelInput.degreeName}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr>     
                                        <tr *ngIf="panelInput && panelInput.primaryMedicalSpeciality">                                               
                                            <td>
                                                What is your primar medical or practice speciality?
                                               
                                            </td>
                                            <td class="text-left">{{panelInput.primaryMedicalSpecialityname}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr>
                                        <tr *ngIf="panelInput && panelInput.yearstartedWorking">                                               
                                            <td>
                                                Please indicate the year when you first began working in your current profession
                                            </td>
                                            <td class="text-left">{{panelInput.yearstartedWorking}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr>
                                        <tr *ngIf="panelInput && panelInput.NPInumber">                                               
                                            <td>
                                                <span *ngIf="panelInput.workCountry == 1">What is your National Provider Index (NPI) Number, if you have one?</span>
                                                <span *ngIf="panelInput.workCountry == 217">What is your National Health Services (NHS) Number, if you have one?</span>
                                            </td>
                                            <td class="text-left">{{panelInput.NPInumber}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr>
                                        <tr *ngIf="panelInput && panelInput.gender">                                               
                                            <td>
                                                What is your gender?
                                            </td>
                                            <td class="text-left">{{panelInput.gendername}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr> 
                                        <tr *ngIf="panelInput && panelInput.yearofBirth">                                               
                                            <td>
                                                What is your year of birth?
                                            </td>
                                            <td class="text-left">{{panelInput.yearofBirth}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr> 
                                        <tr *ngIf="panelInput && panelInput.yearofBirth">                                               
                                            <td>
                                                What is your year of birth?
                                            </td>
                                            <td class="text-left">{{panelInput.yearofBirth}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr>
                                        <tr *ngIf="panelInput && panelInput.secondaryMedicalSpecialities">                                               
                                            <td>
                                                What are your secondary medical or practice specialities, if any?  If none, please write none or skip this question
                                            </td>
                                            <td class="text-left">{{panelInput.secondaryMedicalSpecialities}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr> 
                                        <tr *ngIf="panelInput && panelInput.stateIssuedMedicalLicenseNumber">                                               
                                            <td>
                                                What is your State-Issued Medical OR Nursing License Number?
                                            </td>
                                            <td class="text-left">{{panelInput.stateIssuedMedicalLicenseNumber}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr> 
                                        <tr *ngIf="panelInput && panelInput.ismedicalLicenseValid">                                               
                                            <td>
                                                Is your Medical or Nursing License valid and verifiable?
                                            </td>
                                            <td class="text-left">{{panelInput.ismedicalLicenseValid}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr> 
                                        <tr *ngIf="panelInput && panelInput.isBoardCertified">                                               
                                            <td>
                                                Are you currently board certified or board-eligible?
                                            </td>
                                            <td class="text-left">{{panelInput.isBoardCertifiedname}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr> 
                                        <tr *ngIf="panelInput && panelInput.nursingDegree?.length>0">                                               
                                            <td>
                                                What is your nursing degree or certification?
                                            </td>
                                            <td class="text-left">{{panelInput.nursingDegreename}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr> 
                                        <tr *ngIf="panelInput && panelInput.nursingspeciality">                                               
                                            <td>
                                                What is your primary nursing specialty?
                                            </td>
                                            <td class="text-left">{{panelInput.nursingspecialityname}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr>  
                                        <tr *ngIf="panelInput && panelInput.nursingsubspeciality">                                               
                                            <td>
                                                What is your primary nursing sub-specialty, if any (optional)?
                                            </td>
                                            <td class="text-left">{{panelInput.nursingsubspeciality}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr> 
                                        <tr *ngIf="panelInput && panelInput.isManagementLevelRole">                                               
                                            <td>
                                                Are you in a management level role?
                                            </td>
                                            <td class="text-left">{{panelInput.isManagementLevelRole}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr> 
                                        <tr *ngIf="panelInput && panelInput.jobTitle">                                               
                                            <td>
                                                What is your job title? 
                                            </td>
                                            <td class="text-left">{{panelInput.jobTitle}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr>
                                        <tr *ngIf="panelInput && panelInput.diseaseSepecialization?.length > 0">                                               
                                            <td>
                                                What Disease(s) do you specialize in treating, if any?
                                            </td>
                                            <td class="text-left">{{panelInput.diseaseSepecializationname}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr> 
                                        <tr *ngIf="panelInput && panelInput.employeeFacilityType?.length>0">                                               
                                            <td>
                                                What is your primary employer facility type or practice setting where you work?
                                            </td>
                                            <td class="text-left">{{panelInput.employeeFacilityTypename}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr>
                                        <tr *ngIf="panelInput && panelInput.hospitalType?.length>0">                                               
                                            <td>
                                                What type of hospital or hospital pharmacy do you work in?
                                            </td>
                                            <td class="text-left">{{panelInput.hospitalTypename}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr> 
                                        <tr *ngIf="panelInput && panelInput.clinictype">                                               
                                            <td>
                                                What type of Clinic or Clinic Pharmacy do you work in?
                                            </td>
                                            <td class="text-left">{{panelInput.clinictypename}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr>
                                        <tr *ngIf="panelInput && panelInput.laborotaryType">                                               
                                            <td>
                                                What type of Laboratory do you work in?
                                            </td>
                                            <td class="text-left">{{panelInput.laborotaryTypename}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr> 
                                        <tr *ngIf="panelInput && panelInput.bedCount">                                               
                                            <td>
                                                What is the approximate total number of patient beds in your hospital?
                                            </td>
                                            <td class="text-left">{{panelInput.bedCount}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr> 
                                        <tr *ngIf="panelInput && panelInput.hospitalcount">                                               
                                            <td>
                                                If you work in a health system with multiple hospitals, what is the approximate number of hospitals that are in your system today?  Please note: we are not asking for patient bed count, but hospital count. What is the approximate total number of patient beds in your hospital?
                                            </td>
                                            <td class="text-left">{{panelInput.hospitalcount}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr> 
                                        <tr *ngIf="panelInput && panelInput.employeeCount">                                               
                                            <td>
                                                What is the approximate number of employees in your employee Facility Type?
                                            </td>
                                            <td class="text-left">{{panelInput.employeeCount}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr>
                                        <tr *ngIf="panelInput && panelInput.orgName">                                               
                                            <td>
                                                What is the name of the organization in which you work? Please note this information is strictly confidential and is not shared with any outside parties.  Any data you contribute for double blinded projects will be aggregated and anonymized and not attributed back to your organization. 
                                            </td>
                                            <td class="text-left">{{panelInput.orgName}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr> 
                                        <tr *ngIf="panelInput && panelInput.insurancetype?.length>0">                                               
                                            <td>
                                                What type(s) of insurance do you currently accept from patients, as a healthcare provider: 
                                            </td>
                                            <td class="text-left">{{panelInput.insurancetypename}}</td>
                                            <!-- <td class="text-left">
                                                OR
                                            </td>
                                            <td class="text-left">
                                                
                                            </td>                                                     -->
                                        </tr>                                                                               
                                        </tbody>
                                    </table>
                                </div> 
                            </div>
                                                               
                        </div>
                    </div>
                </div> 

                <div class="row">
                    <div class="col-md-12">
                        <div class="main-title">
                            Invitation Designer
                        </div>
                        <div class="main-card mb-3 card">
                            <div class="card-header">
                                    Summary            
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                        <thead>
                                        <tr>                                               
                                            <th>Invite Channel</th>
                                            <th class="text-left">Last Member Matched</th>
                                            <th class="text-left">Interviews Required</th>
                                            <th class="text-left">Project LOI</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngIf="subpanel">                                               
                                            <td>
                                                {{subpanel.name}}
                                            </td>
                                            <td class="text-left" *ngIf="subPanelMemberCount">{{subPanelMemberCount}}</td>
                                            <td class="text-left">{{subpanel.invites_required}}
                                                
                                            </td>
                                            <td class="text-left">{{subpanel.LOI}}
                                                
                                            </td>                                                    
                                        </tr>                                                                 
                                        </tbody>
                                    </table>
                                </div> 
                            </div>
                                                               
                        </div>
                        <div class="main-card mb-3 card">
                            <div class="card-header">
                                    Invitation            
                            </div>
                            <div class="card-body">
                                <div class="row" *ngIf="subpanel">
                                    <form class="row " #subpanelupdateForm="ngForm">
                                        <div class="col-lg-3 form-group">
                                            <label for="selectionname">Selection Name</label>
                                            <input name="selectionname" id="selectionname" placeholder="" type="text" class="form-control" [(ngModel)]="subpanel.panel_name" required disabled>
                                        </div>
                                        <div class="col-lg-3 form-group">
                                            <label for="selectionname">Select Quota Group</label>
                                            <!-- <select class="form-control">
                                                <option>Quota Group name shows here</option>
                                            </select> -->
                                            <ng-select
                                                id="quotagroup"
                                                name="quotagroup"
                                                [items]="quotaGroup"
                                                bindLabel="name"
                                                bindValue="token"
                                                [(ngModel)]="quotaselected"
                                                [multiple]="false"
                                                [clearable]="false"
                                                #quotagroup="ngModel"
                                                required
                                                (change)="onquotagroupChange($event)"
                                                >
                                            </ng-select>
                                        </div>
                                        <!-- <div class="col-lg-3 form-group">
                                            <label for="selectionname">Quota Group End Date</label>
                                            <input name="selectionname" id="selectionname" placeholder="" value="1/1/2025" type="text" class="form-control">
                                        </div> -->
                                        <div class="col-lg-3 form-group">
                                            <label for="qutoincentive">Incentive</label>
                                            <input name="qutoincentive" id="qutoincentive" type="text" class="form-control" [(ngModel)]="quotaIncentive" (keypress)="keyPressNumbersWithDecimal($event)" name="incentives" placeholder="" required currencyMask [options]="{inputMode:1,precision:2,align:'left',min:0.01,prefix:''}" maxlength="15" >
                                        </div>
                                        <div class="col-lg-12 form-group">
                                            <label for="qutonotes">Quota Group Note</label>
                                            <textarea name="textarea" class="form-control" disabled placeholder="Notes" [(ngModel)]="quotaNote"></textarea>
                                        </div>
                                        <!-- <div class="col-lg-4 form-group">
                                            <label for="incentive">Incentive - Qual</label>
                                            <input name="incentive" id="incentive" placeholder="" [(ngModel)]="subpanel.incentive" type="text" class="form-control">
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label for="incentiveText">Incentive in text and correct value</label>
                                            <input name="incentiveText" id="incentiveText" placeholder="" [(ngModel)]="subpanel.incentive_in_text" type="text" class="form-control">
                                        </div> -->
                                        <div class="col-lg-4 form-group">
                                            <label for="emailtopic">Topic</label>
                                            <input name="emailtopic" id="emailtopic" placeholder="" type="text"  [(ngModel)]="subpanel.email_topic" required class="form-control">
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label for="lengthofinterview">Length of Inteview (Mins)</label>
                                            <input name="lengthofinterview" [(ngModel)]="subpanel.LOI" id="lengthofinterview" placeholder="" required value="0" required type="text" class="form-control">
                                        </div>
                                        <!-- <div class="col-lg-4 form-group">
                                            <label for="surveylinktype">Survey Link Type</label>
                                            <input name="surveylinktype" id="surveylinktype" placeholder="" [(ngModel)]="subpanel.survey_link_type" type="text" class="form-control">
                                        </div> -->
                                            <div class="col-lg-12 form-group">
                                                <label for="surveylink">Survey Link - [ID] Panel Member ID <span class="text-danger mr-3">*Don't forget to add &id=[ID] to the link</span></label>
                                                <input name="surveylink" id="surveylink" placeholder="" [(ngModel)]="subpanel.survey_link" type="text" required class="form-control" HttpsValidator #link="ngModel" required
                                                placeholder="https://example.com">
                                                <div *ngIf="link.touched && link.errors?.['invalidHttps']">
                                                    <small class="text-danger">Link must start with <strong>https://</strong></small> 
                                                </div>
                                                <!-- <button type="button" class="btn btn-outline-success mt-3">Set Internal Suvey Link</button>                                                            -->
                                            </div>
                                            <!-- <div class="col-lg-12 form-group">
                                                <label for="linkstatus">Link(s) Status</label>
                                                <input name="linkstatus" id="linkstatus" placeholder="" value="Please provide survey link" type="text" class="form-control">                                                               
                                            </div> -->
                                            <div class="col-lg-12 form-group">
                                                <label for="subject">Invitation Subject</label>
                                                <input name="subject" id="subject" placeholder=""  [(ngModel)]="subpanel.email_subject" type="text" class="form-control" required>                                                               
                                            </div>
                                            <div class="col-lg-12 form-group">
                                                <label for="invitationbody">Invitation Body</label>
                                                
                                                <div id="editparent">
                                                    <!-- <button (click)="saveTemplate()" type="button" class="btn btn-outline-success mt-2 mb-2 mr-2">Load/Save Email Template</button> -->
                                                    <button  (click)="sendTestEmail()" type="button" class="btn mt-2 mb-2 mr-2" [disabled]="!subpanelupdateForm.valid" [ngClass]="{
                                                        'btn-outline-secondary' : !subpanelupdateForm.valid,
                                                        'btn-outline-success' : subpanelupdateForm.valid}" >Send Test Email</button>
                                                    <button (click)="sendInvitation()" type="button" class="btn btn-outline-success mt-2 mb-2 mr-2" [disabled]="!subpanelupdateForm.valid" [ngClass]="{
                                                        'btn-outline-secondary' : !subpanelupdateForm.valid,
                                                        'btn-outline-success' : subpanelupdateForm.valid}">Send Email</button>
                                                    <!-- <div id="editControls" >
                                                        <div class="btn-group">
                                                            <a class="btn btn-xs btn-default" data-role="undo" href="#" title="Undo"><i class="fa fa-undo"></i></a>
                                                            <a class="btn btn-xs btn-default" data-role="redo" href="#" title="Redo"><i class="fa fa-repeat"></i></a>
                                                        </div>
                                                        <div class="btn-group">
                                                            <a class="btn btn-xs btn-default" data-role="bold" href="#" title="Bold"><i class="fa fa-bold"></i></a>
                                                            <a class="btn btn-xs btn-default" data-role="italic" href="#" title="Italic"><i class="fa fa-italic"></i></a>
                                                            <a class="btn btn-xs btn-default" data-role="underline" href="#" title="Underline"><i class="fa fa-underline"></i></a>
                                                            <a class="btn btn-xs btn-default" data-role="strikeThrough" href="#" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                                                        </div>
                                                        <div class="btn-group">
                                                            <a class="btn btn-xs btn-default" data-role="indent" href="#" title="Blockquote"><i class="fa fa-indent"></i></a>
                                                            <a class="btn btn-xs btn-default" data-role="insertUnorderedList" href="#" title="Unordered List"><i class="fa fa-list-ul"></i></a>
                                                            <a class="btn btn-xs btn-default" data-role="insertOrderedList" href="#" title="Ordered List"><i class="fa fa-list-ol"></i></a>
                                                        </div>
                                                        <div class="btn-group">
                                                            <a class="btn btn-xs btn-default" data-role="h1" href="#" title="Heading 1"><i class="fa fa-header"></i><sup>1</sup></a>
                                                            <a class="btn btn-xs btn-default" data-role="h2" href="#" title="Heading 2"><i class="fa fa-header"></i><sup>2</sup></a>
                                                            <a class="btn btn-xs btn-default" data-role="h3" href="#" title="Heading 3"><i class="fa fa-header"></i><sup>3</sup></a>
                                                            <a class="btn btn-xs btn-default" data-role="p" href="#" title="Paragraph"><i class="fa fa-paragraph"></i></a>
                                                        </div>
                                                    </div>
                                                    <div id="editor" style="height: 400px !important;" contenteditable></div>
                                                    <textarea name="ticketDesc" id="editorCopy" required="required" style="display:none;"></textarea> -->
                                                </div>
                                                <quill-editor
                                                      name="emailcontent"
                                                      [(ngModel)]="emailContent"
                                                      [modules]="editorConfig"> 
                                                     </quill-editor> 
                                            </div>
                                    </form>
                                </div>
                            </div>
                                                               
                        </div>
                    </div>
                </div> 
         
            
        </div>
    </div>   
                   
</div>


