<div class="modal-content">
    <form class="form" id="kt_form" #quotaForm="ngForm">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create Quota Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body quotacreate">

    
        <div class="row form-group">
            <div class="col-lg-6">
                    <label>Country</label>
                    <ng-select
                    id="country"
                    name="country"
                    [items]="countryList"
                     bindLabel="name"
                    bindValue="id"
                    [(ngModel)]="quotainput.country"
                    [multiple]="false"
                    placeholder="Select your country"
                    required
                    #country="ngModel"
                    >
                    </ng-select>
                <div *ngIf="country.invalid && country.touched" class="text-danger">  Please select country.
                </div>
            
                </div>
            <div class="col-lg-6">
                    <label>Quota Group Name</label>
                    <input type="text" class="form-control" autocomplete="off" name="fname" placeholder="" required [(ngModel)]="quotainput.name" (change)="quotainput.name=quotainput.name.trim()">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-4">
                    <label>
                        <span *ngIf="projectype == 'quantitative'">Survey Respondents Required</span>
                        <span *ngIf="projectype == 'qualitative'">Interviews Required</span>
                    </label>
                    <input type="text" class="form-control" autocomplete="off" (keypress)="keyPressNumbersWithDecimal($event)" name="interviews" maxlength="3" placeholder=""  required [(ngModel)]="quotainput.interviews">
            </div>
            <div class="col-lg-4">
                    <label>CPI</label>
                    <input type="text" class="form-control" currencyMask [options]="{inputMode:1,precision:2,align:'left',min:0.01,prefix:''}" maxlength="15" autocomplete="off" (keypress)="keyPressNumbersWithDecimal($event)" name="cpivalue" placeholder=""  required [(ngModel)]="quotainput.CPI">
            </div>
            <div class="col-lg-4">
                <label>Incentive</label>
                <input type="text" class="form-control" autocomplete="off" (keypress)="keyPressNumbersWithDecimal($event)" name="incentives" placeholder=""  currencyMask [options]="{inputMode:1,precision:2,align:'left',min:0.01,prefix:''}" maxlength="15"  required [(ngModel)]="quotainput.incentives">
        </div>
        </div>
        <div class="position-relative form-group"><label for="testarea" class="">Notes</label>
            <textarea name="text" id="testarea" class="form-control" placeholder="Notes add here..." [(ngModel)]="quotainput.notes"></textarea></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!quotaForm.form.valid || saving" (click)="addQuota()"> 
            <i *ngIf="saving" class="fa fa-spin fa-spinner"></i>Save Quota
        </button>
    </div>
</form>
</div>